# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Maven
target*
dependency-reduced-pom.xml

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# other files
.DS_Store
*.swp
enigma

# gradle
.gradle
gradle
gradlew
gradlew.bat
build

# out
out
/.project

# logs
logs

Main.java
